*{
    margin: 0;
    box-sizing:border-box;
/*    background-color: black;*/
}
:root {
    --heading-font: "Hedvig Letters Sans", sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --other-font: 'Assistant',sans-serif;
    --accent-font: "Vollkorn", serif;
}
.container{
}

h1, h2, h3 {
    font-family: var(--heading-font);
}
.header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 35px;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 1); /* 50% transparent black */
    color: white;
    z-index: 999;
    transition: background 0.3s ease, color 0.3s ease;
    font-family: var(--heading-font);
    font-size: 1rem
}

.header.scrolled {
    background: white;
    color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo-img, .logo-blue{
    width: 60px;
    height: 60px;
/*    border: 1px solid black;*/
}
.logo-blue{
    display: flex;
}
.logo-img{
    display: none;
}
.topNavItemsBuger {
   display: none;
   gap: 20px;
   flex-wrap: wrap;
}

.topNavItemsBuger.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: 998;
 }

.burger {
    display: block;
}
.burger .fa-bars{
    color: #19194f;
}

.topNavItems {
    display:none;
    justify-content: space-between;
    align-content: center;
    width: 85%;
/*    border: 1px solid black;*/

}
    .topNavItems a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;
        font-family: inherit;
    }
.topNavItemsBuger a {
    text-decoration: none;
    color: #19194f;
    font-size: 18px;
}
.nav-item {
    position: relative;
    display: inline-block;
    /*    margin: 0 10px;*/
}

.dropdown-icon {
/*    margin-left: 5px;*/
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
    background: rgba(0, 0, 0, 1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px 0;
    list-style: none;
    min-width: 150px;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 8px 15px;
}
.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
}

.nav-item.open .dropdown-menu {
    display: block;
}
/*.dropdown-menu:hover {
    background-color: #f0f0f0;*/ /* light grey or any color of your choice */
    /*transition: background-color 0.3s ease;
}*/
.dropdown-menu li:hover {
    background-color: #353434; /* slightly darker for hover effect */
    transition: background-color 0.3s ease;
}


.img-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: 0;
    filter: blur(2px); /* Slight blur for visibility of text */
}
.slide.active {
    opacity: 1;
     z-index: 1;
}

/* Assign background images via CSS */
.slide1 {
    background-image: url('./img/bg-2.jpg');
}

.slide2 {
    background-image: url('./img/bg-8.jpg');
}

.slide3 {
    background-image: url('./img/bg-4.jpg');
}

.slide4 {
    background-image: url('./img/bg-9.jpg');
}

.slide5 {
    background-image: url('./img/bg-6.jpg');
}

.img-slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Dark overlay */
    z-index: 2;
}

/* Content goes above the blur and overlay */
.img-slider-content {
    display: flex;
    flex-direction: column;
    gap:25px;
    position: absolute;
    z-index: 3;
    color: white;
    text-align: left; /* aligns text to the left */
    top: 50%;
    left: 5%; /* start near the left edge, adjust as needed */
    transform: translateY(-50%); /* center vertically only */
}

    .img-slider-content span, .hero-section span {
        font-family: var(--other-font);
        font-size: 2.6rem;
        display: block;
        color: #fff
    }
    .img-slider-content p {
        font-family: var(--other-font);
        font-size: 1.3rem;
        color: white;
        font-weight: lighter;
    }
.giko-span{
    font-weight: lighter;
}
.eng-span{
    font-weight: bolder;
    margin-top: -16px;
}

.fa-caret-down{
    color: #19194f;
    font-size: 13px;
    padding: 0 0 0 5px;
}
.fa-magnifying-glass {
    font-size: 13px;
    padding: 0 0 0 5px;
}
.contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 8px;
    /*    height: 100px;*/
    background-color: #19194f;
    border: 1px solid #19194f;
    border-radius: 5px;
    color: white;
    font-family: var(--heading-font);
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.get-in-touch {
    width: 90%;
    height: 60px;
    font-size: 1.2rem;
    background-color: #19194f;
    margin-top: 25px;
}
.contact-btn:hover {
    background-color: #3e3e8e;
    color: #fff;
    transform: scale(1.05);
}
/*client images slide*/
.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 30px 0;
  box-sizing: border-box;
  background-color: #fff;
}

.carousel-track {
  display: flex;
  gap: 40px; /* Space between images */
  animation: scroll-left 30s linear infinite;
}

.carousel-track img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
/* Responsive */


/* Mobile devices */

@media (min-width: 768px) {
    .header {
        padding: 20px 20px;
        background: rgba(0, 0, 0, 0.5)
    }

    .logo-blue {
        display: none;
    }

    .logo-img {
        display: flex;
    }

    .topNavItemsBuger {
        flex-direction: column;
        display: none;
    }

        .topNavItemsBuger.show {
            display: flex;
            flex-direction: column;
        }

    .burger {
        display: none;
    }

    .topNavItemsBuger.show {
        background-color: rgba(0, 0, 0, 0.85);
    }


    .topNavItems {
        display: flex;
        width: 90%;
        /*    border: 1px solid black;*/
    }
    .img-slider-content span {
        font-size: 4rem;
    }

    .img-slider-content p {
        font-size: 2rem;
    }
    .eng-span {
        margin-top: -22px;
    }
    .get-in-touch {
        width: 200px;
    }
    .contact-btn {
        background-color: transparent;
        border: 1px solid rgba(255, 224, 27, 1);
    }
    .get-in-touch {
        background-color: rgba(255, 224, 27, 1);
    }
    .contact-btn:hover {
        background-color: rgb(233 215 106) ;
        color: #fff;
    }
    .img-slider-content {
        text-align: left; /* aligns text to the left */
    }
    .fa-caret-down {
        color: #fff;
        font-size: 13px;
        padding: 0 0 0 5px;
    }
    .dropdown-menu {
/*        left: 0;*/
        top: 70px;
        left: 40px;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        min-width: 150px;
    }
}
    


/* Tablets and small laptops (≤ 1024px) */
@media (min-width: 1024px) {
    .get-in-touch {
        width: 200px;
    }
    .topNavItems {
        width: 85%;
    }
    .header {
        padding: 20px 60px;
    }
}

/* Desktops and large screens (≥ 1200px) */
@media (min-width: 1200px) {
    .get-in-touch {
        width: 180px;
    }
    .topNavItems{
        width:85%;
    }
}



